/*Full Page Selectors*/
:root {
    --charcoal: rgb(27, 26, 27);
    --blue: rgb(61, 61, 253);
}

* {
    margin: 10px;
}

body {
    background-color: var(--charcoal);
    padding: 2%;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--blue);
}

p {
    color: var(--blue);
}

h2 {
    color: rgb(231 199 28);
}

h3 {
    color: var(--blue);
}

img {
    max-width: 95%;
}

/*Header elements*/
header {
    background-color: var(--blue);
    padding: 1.5%;
    text-align: left;
}

h1 {
    display: inline-block;
    font-size: large;
}

nav {
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 4px;
}

li a {

    color: black;
}

/* Content */
main {
    padding: 1rem;
}

#work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}

.work-example {
    border: 3px solid var(--blue);
    text-decoration: none;

}

#first-ex {
    min-width: 98%;
}

/*Responsive Design Settings*/
@media screen and (max-width: 767px) {
    .work-example {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .work-example {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@media screen and (min-width: 992px) {
    .work-example {
        flex: 0 0 23%;
        max-width: 23%;
    }

    #first-ex {
        min-width: 95%;
    }
}

@media screen and (max-width: 536px) {
    li a {
        color: var(--blue);
    }
}