:root {
    --charcoal: rgb(27, 26, 27);
    --purple: rgb(134, 58, 205);
}

* {
    margin: 5px;
}

body {
    background-color: var(--charcoal);
    padding: 2%;
    text-align: center;
}

header {
    background-color: var(--purple);
    padding: 1%;
}

a {
    text-decoration: none;
}

h1 {
    display: inline-block;
}

nav {
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 4px;
}

li a {

    color: black;
}

main {
    padding: 1rem;
}

#work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.work-example {
    border: 3px solid var(--purple);
    text-decoration: none;
    color: var(--purple);
}

#first-ex {
    min-width: 98%;
}

img {
    max-width: 95%;
}

@media screen and (max-width: 767px) {
    .work-example {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .work-example {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@media screen and (min-width: 992px) {
    .work-example {
        flex: 0 0 23%;
        max-width: 23%;
    }

    #first-ex {
        min-width: 95%;
    }
}

@media screen and (max-width: 536px) {
    li a {
        color: var(--purple);
    }
}